.main-container{
    width: 100%;
    min-height: 100vh;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    padding: 1rem 10px;
    justify-content: center;
}

.card-header{
    color: darkcyan;
    background-color: rgb(228, 228, 228);
}

.select-btn{
    border-color: darkcyan;
    background-color: white;
    border-radius: 30px;
    color: darkcyan;
    transition: 0.3s;
}

.select-btn:hover{
    background-color: darkcyan;
    color: white;
    border-color: white;
}

