.Profile{
    width: 100%;
    min-height: 100vh;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: rgb(254, 255, 179);
}

.Profile--Container{
    margin: auto;
    width: 90%;
    max-width: 900px;
    height: 100%;
    background-color: white;    
    overflow: hidden;
    border: 1px solid rgb(58, 58, 58);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.63);
    opacity: 0;
    transform:translateY(-100%);
    border-radius: 7px;
    animation: animateProfileContainer 0.3s ease 0.7s forwards;
}

@keyframes animateProfileContainer{
    0%{
        opacity: 0;
        transform:translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.Profile--Menu{
    margin-right: 2rem;
    position: relative;
}

.Profile--Menu__Arrow{
    padding: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease 0s;
}

.Profile--Menu__Arrow:hover{
    background-color: rgb(192, 192, 192);
}

.Profile--Menu__Arrow:active{
    background-color: rgb(83, 83, 83);
}

.Profile--Menu__Arrow i{
    color: rgb(51, 51, 51);
    font-size: 1.4rem;
}

.Profile--Menu__Content{
    transform-origin: top;
    transition: 0.2s ease 0s;
    position: absolute;
    top: calc(100% + 5px);
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: flex-start;
    min-width: 140px;
    right: 0;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.596);
    padding: 6px;
}

.Profile--Menu__Content a,
.Profile--Menu__Content button{
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    text-decoration: none;
    margin: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

.Profile--Menu__Content a:hover,
.Profile--Menu__Content button:hover{
    color: black;
}

.Profile--Menu__Content a:focus,
.Profile--Menu__Content button:focus{
    outline: none;
}

.profileMenu-enter{
transform: scale(1,0) translateY(-100%);
opacity: 0;
}

.profileMenu-enter-active{
transform: scale(1,1) translateY(0);
opacity: 1;
}

.profileMenu-exit{
transform: scale(1,1) translateY(0);
opacity: 1;
}

.profileMenu-exit-active{
transform: scale(1,0) translateY(-100%);
opacity: 0;
}

.Profile--Info__Head{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 250px;
    padding: 10px 10px 20px 20px;
    background: linear-gradient(to bottom, rgba(0, 11, 112, 0.685), rgba(0, 11, 112, 0.633)), url("../../images/profile-head.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Profile--Info__Head h2{
    font-size: 2rem;
    color: white;
}

.Profile--control{
    width: max-content;
    display: flex;
    width: calc(100% - 20px);
    justify-content: flex-start;
    margin: 3rem 10px;
    align-items: center;
}

.Profile--control h4{
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0;
}

.Profile--control h4:nth-child(1){
    font-weight: bold;
    margin: 5px 1rem;
}
.Profile--control h4:nth-child(2){
    font-weight: lighter;
}

.Profile--Orders{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Profile--Orders h4{
    text-transform: uppercase;
    margin: 10px;
}


@media(max-width:866px){
    .Profile--Container{
        width: 500px;
        left: calc(50% - 250px);
    }
}

@media(max-width:660px){
    .Profile--Container{
        width: 90%;
        left: 5%;
    }
    .Profile--control{
        flex-direction: column;
        width: max-content;
        align-items: flex-start;
    }

    .Profile--control h4:nth-child(1){
        margin: initial;
    }
}

@media(max-width:460px){
    .Profile--Container{
        width: 95%;
        left: 2.5%;
    }

    .Profile--Info__Head h2{
        font-size: 1.5rem;
    }
    .Profile--control h4{
        font-size: 0.7rem;
    }

    .Profile--Orders h4{
        font-size: 0.7rem;
    }

    .Profile--Info__Head{
        padding: 5px 5px 10px 5px;
    }

    .Profile--Menu{
        margin-right: 5px;
    }
    .Profile--Menu__Content{
        min-width: 100px;
    }

    .Profile--Menu__Content a,
    .Profile--Menu__Content button{
        font-size: 1rem;
    }

    .Profile--Menu__Arrow i{
        font-size: 1rem;
    }
}

@media(max-height:520px){
    .Profile{
        min-height: 160vh;
    }
}