.Index--header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.759), rgba(0, 0, 0, 0.759)),url('../../images/index-header-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
    opacity: 0;
    padding: 2rem 10px;
    animation: animateIndexHeader 0.6s ease 0.1s forwards;
}

@keyframes animateIndexHeader {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.index--button-enter{
opacity: 0;
transform: scale(1,0);
}

.index--button-enter-active{
opacity: 1;
    transform: scale(1,1);
}

.index--button-exit{
    opacity: 1;
    transform: scale(1,0);
}

.index--button-exit-active{
    opacity: 0;
    transform: scale(1,0);
}

.Index--Header--abs__triangle--bottom{
    width: 300px;
    height: 300px;
    background-color: white;
    transform-origin: center;
    transform: rotateZ(50deg);
    position: absolute;
    bottom: -180px;
    right: -150px;
}

.Index--header__content{
    padding: 2rem 1rem;
    border-radius: 4px;
    max-width: 500px;
    transition: 0.2s ease 0s;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    animation: animateRegisterHeaderContent 0.4s ease 0.5s forwards;
    align-items: flex-start;
}

@keyframes animateRegisterHeaderContent {
    0%{
    transform: translateX(-100%);
    opacity: 0;
    }
    50%{
        transform: translateX(-50%);
    opacity: 0;
    }
    100%{
    transform: translateX(0);
opacity: 1;
    }
}

.Index--header__content h1{
color: rgb(255, 255, 255);
font-weight: bold;
text-transform: uppercase;
margin-bottom: 1rem;
text-shadow: 0px 0px 10px black;
font-size: 3rem;
font-family: 'Oswald', sans-serif;
}

.Index--header__content p{
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem auto;
    color: rgb(255, 255, 255);
    font-family: 'Mukta',sans-serif;
}

.Index--form{
    margin: 10px 0;
    width: 100%;
}

.Index--form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.Index--form form .form--control{
    margin: 5px auto 10px auto;
    text-align: left;
    min-height: 50px;
    width: 100%;
}

.Index--form form .form--control input{
    padding: 5px;
    max-width: 400px;
    width: 90%;
    background-color: rgb(240, 212, 193);
    border: 1px solid rgb(112, 60, 12);
    font-size: 1.2rem;
    transition: 0.2s ease 0s;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    transform: translateX(-100%);
    opacity: 0;
    box-shadow: 0px 0px 2px 1px rgba(104, 42, 0, 0.5);   
    animation: animateRegisterHeaderContent 0.3s ease 0.9s forwards;
}


.Index--form form .form--control input:focus{
    background-color: rgb(252, 195, 129);
    box-shadow: 0px 0px 7px 3px rgba(43, 43, 43, 0.507);
    outline: none;
    border-color: rgb(255, 255, 255);
}

.Index--form form button{
    padding: 10px 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 136, 0);
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: 0.2s ease 0s;
    transform-origin: top;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.Index--form form button:hover{
    background-color: rgb(61, 20, 1);
}

.Index--form form button:focus{
    outline: none;
}
@media(max-width:1000px){
    .Index--Header--abs__triangle--bottom{
        bottom: -250px;
        right: -180px;
    }
}

@media(max-width:866px){
    .Index--header{
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:700px){
    .Index--header__content{
        align-items: center;
        margin-left: 0;
    }
    .Index--header__content h1{
        width: auto;
        margin: 10px;
    }
    .Index--form{
        max-width: 250px;
        right: 10px;
        left: auto;
    }

    .Index--form form{
        align-items: center;
    }

    .Index--form form .form--control{
        text-align: center;
    }

    .Index--form form .form--control input{
        width: 100%;
    }
    .Index--header__content p{
        text-align: center;
    }
}