.HeaderLink{
    position: relative;
    margin: 3px;
}

.HeaderLink a{
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.2rem;
    color: white;
    transition: 0.2s ease 0s;
}

.HeaderLink a:hover{
    color: rgb(87, 49, 0);
}

.HeaderLink--Title{
    position: absolute;
    bottom: -30px;
    right: -50px;
    background-color: rgb(197, 105, 0);
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px;
}

@media(max-height:450px){
    .HeaderLink--Title {
        bottom: -10px;
        right: -50px;
        padding: 2px;
    }
    .HeaderLink--Title code{
        font-size: 0.7rem;
    }
}