.Restaurant{
    box-shadow: 0px 3px 6px 2px rgba(99, 99, 99, 0.712);
    width: 350px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem;
    transition: 0.3s ease 0s;
}

.Restaurant:hover{
    transform: translateY(10px);
    box-shadow: 0px 8px 6px 2px rgba(99, 99, 99, 0.712);

}

.Restaurant--Bck{
    width: 100%;
    height: 250px;
    transition: 0.3s ease 0s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.Restaurant--Nav{
    padding: 1rem 10px;
    width: 100%;
    display: flex;
    background-color: rgb(252, 218, 218);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.Restaurant--Nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(255, 46, 46);
    border-radius: 5px;
    transition: 0.2s ease 0s;
    text-transform: uppercase;
}

.Restaurant--Nav a:hover{
    background-color: rgb(201, 0, 0);
}

.Restaurant--Nav a:active{
    background-color: rgb(80, 0, 0);
}


.Restaurant--Nav h1{
    color: rgb(49, 49, 49);
    margin: 1rem 0;
    font-size: 1rem;
}

@media(max-width:800px){
    .Restaurant{
        min-height: 300px;
    }
}